@model ProyectoFinal_HG.Models.Categoria

@{
    ViewBag.Title = "Detalles de las categorias";
}
<hr />
<hr />
<h2 class="mt-4">Categoria detallada</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>
</div>
<div class="col-md-12">
    <table class="table table-striped table-responsive-xl table-bordered">
        <tr>
            <th>Categoria</th>
            <th>Descripcion de la prenda</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
        <tbody>
            @foreach (var item in Model.Ropas)
            {
            <tr>
                <td>@Model.Nombre</td>
                <td>@item.Descripcion</td>
                <td>@item.Precio</td>
                <td>
                    <a href="@Url.Action("Edit", "Categorias", new { id = Model.Id })" title="Editar" class="btn btn-secondary"><i class="fas fa-edit text-white">Editar</i></a>
                    <a href="@Url.Action("Details", "Categorias", new { id = Model.Id })" title="Detalles " class="btn btn-secondary"><i class="fas fa-info-circle text-white">Detalles</i></a>
                    <a href="@Url.Action("Delete", "Categorias", new { id = Model.Id })" title="Eliminar" class="btn btn-secondary"><i class="fas fa-trash text-white">Eliminar</i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<p>
    <a href="@Url.Action("Edit", "Categorias", new { id = Model.Id })" title="Editar" class="btn btn-secondary bg-primario">Editar</a>
    <a href="@Url.Action("Index", "Categorias", new { id = Model.Id})" title="Regresar a la lista" class="btn btn-secondary bg-primario">regresar a la lista</a>
</p>
