@model IEnumerable<ProyectoFinal_HG.Models.Categoria>

@{
    ViewBag.Title = "Categorias";
}

<h2 class="mt-4">Categorias</h2>

<p class="mt-4 mb-4">
    @if (User.IsInRole("Administrador"))
    {
    <a href="#" data-toggle="modal" data-target="#AddModal" class="btn btn-sm bg-primario text-white"><i class="fas fa-plus-square"></i> Nueva categoria</a>
    }
</p>
<div class="row justify-content-lg-start">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-white bg-primario py-1">
                <h3>Lista de categorias</h3>
            </div>
            <div class="card-body">
                <table class="table table-striped table-responsive-xl table-bordered">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>Acciones</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", "Categorias", new { id = item.Id })" title="Editar" class="btn btn-secondary"><i class="fas fa-edit text-white">Editar</i></a>
                                <a href="@Url.Action("Details", "Categorias", new { id = item.Id })" title="Detalles " class="btn btn-secondary"><i class="fas fa-info-circle text-white">Detalles</i></a>
                                <a href="@Url.Action("Delete", "Categorias", new { id = item.Id })" title="Eliminar" class="btn btn-secondary"><i class="fas fa-trash text-white">Eliminar</i></a>

                            </td>
                        </tr> 
                    }

                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primario">
                <h5 class="modal-title text-white" id="exampleModalLabel">Agregar nueva categoria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="@Url.Action("Create","Categorias")" method="post">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-md-8 col-form-label">
                            Categoria
                        </label>
                        <div class="col-md-10">
                            <input type="text" value="" name="Nombre" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary bg-primario text-white">Crear categoria</button>
                </div>
            </form>
        </div>
    </div>
</div>

