@model ProyectoFinal_HG.Models.Disenador

@{
    ViewBag.Title = "Delete";
}

<hr />
<hr />
<div class="mt-5"></div>
<h2>Disenador</h2>
<h3>Estas seguro que quieres eliminar al disenador?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-secondary bg-primario" />
            <a href="@Url.Action("Index", "Disenador", new { id = Model.Id })" title="Regresar a la lista" class="btn btn-secondary bg-primario ml-2">regresar a la lista</a>
        </div>
    }
</div>
