@model IEnumerable<ProyectoFinal_HG.Models.Disenador>

@{
    ViewBag.Title = "Diseñadores";
}

<h2>Disenadores</h2>

<p class="mt-5 mb-4">
    @if (User.IsInRole("Administrador"))
    {
        <a href="@Url.Action("Create", "Disenador")" class="btn btn-sm bg-primario text-white"><i class="fas fa-plus-square"></i> Anadir nuevo disenador</a>
    }
</p>

<div class="row justify-content-start">
    <div class="col-md-10">
        <div class="card">
            <div class="card-header bg-primario py-2">
                <h5 class="m-0 text-center text-white">Lista de disenadores</h5>
            </div>
            <div class="card-body">
                <table class="table table-striped table-responsive-xl table-bordered " id="MyEvents">
                    <thead class="bg-primario text-white">
                        <tr>
                            <th>Categoria</th>
                            <th>Nombre</th>
                            <th>Telefono</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Categoria.Nombre</td>
                                <td>@item.Name</td>
                                <td>@item.Phone</td>
                                <td>
                                    <a href="@Url.Action("Edit","Disenador",new { id=item.Id})" class="btn btn-sm btn-circle btn-warning">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a href="@Url.Action("Details","Disenador",new { id=item.Id})" class="btn btn-sm btn-circle btn-info">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    <a href="@Url.Action("Delete","Disenador",new { id=item.Id})" class="btn btn-sm btn-circle btn-danger">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>