@model ProyectoFinal_HG.Models.Ropa

@{
    ViewBag.Title = "Eliminar articulo";
}
<hr />
<hr />
<h2 class="mt-lg-5">Eliminar</h2>

<h3>Estas seguro de que quieres borrar este articulo?</h3>
<div class="mb-5">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Modista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color mt-4">
    <input type="submit" value="Eliminar" class="btn btn-secondary bg-primario" />
    <a href="@Url.Action("Index", "Ropas", new { id = Model.Id})" title="Regresar a la lista" class="btn btn-secondary bg-primario">Regresar a la lista</a>
</div>
    }
</div>
