@model ProyectoFinal_HG.Models.Ropa

@{
    ViewBag.Title = "Detalles";
}

<div class="mt-5 row justify-content-center">
    <h2>Detalles del atuendo </h2>
</div>
<div class="row justify-content-center py-5 mt-auto">
    <div class="col-md-7">
        <div class="card">
            @if (@Model.Picture == null)
            {
                <img src="https://cdn.pixabay.com/photo/2016/04/19/13/39/store-1338629_960_720.jpg" alt="" class="img-fluid rounded" />
            }
            <img src="~/Upload/Ropa/@Model.Picture" alt="" class="img-fluid rounded" />
            <div class="card-body">
                <table class="table table-striped table-responsive-xl table-bordered ">
                    <tr>
                        <td>Categoria:</td>
                        <td>@Model.Modista.Categoria.Nombre</td>
                    </tr>
                    <tr>
                        <td>Disenador:</td>
                        <td>@Model.Modista.Name</td>
                    </tr>
                    <tr>
                        <td>Descripcion:</td>
                        <td>@Model.Descripcion</td>
                    </tr>
                    <tr>
                        <td>Precio:</td>
                        <td>@Model.Precio</td>
                    </tr>
                    <tr>
                        <td>Cantidad en Stock:</td>
                        <td>@Model.Existencias</td>
                    </tr>
                </table>
                <div class="row justify-content-center">
                    @if (User.IsInRole("Administrador"))
                    {
                        <a href="@Url.Action("Index", "Ropas", new { id = Model.Id})" title="Regresar a la lista" class="btn btn-secondary bg-primario ml-2">Regresar a la lista</a>
                        <a href="@Url.Action("Edit", "Ropas", new { id = Model.Id })" title="Editar" class="btn btn-secondary bg-primario">Editar</a>
                    }
                    else
                    {
                        <a href="@Url.Action("AgregarCarrito", "Carrito", new { id = Model.Id })" title="Editar" class="btn btn-secondary bg-primario">Añadir al carrito</a>
                        <a href="@Url.Action("Index", "Home", new { id = Model.Id})" title="Regresar a la lista" class="btn btn-secondary bg-primario">Regresar a la lista</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    
    
</p>
<div class="mb-5"></div>
