@model IEnumerable<ProyectoFinal_HG.Models.Ropa>

@{
    ViewBag.Title = "Ropa";
}
<hr />
<hr />
<hr />
<h2>Catalogo</h2>
<p class="mt-5 mb-4">
    @if (User.IsInRole("Administrador"))
    {
        <a href="@Url.Action("Create", "Ropas")" class="btn btn-sm bg-primario text-white"><i class="fas fa-plus-square"></i> Anadir nuevo articulo</a>
    }
</p>



<div class="row justify-content-start">
    <div class="col-md-10">
        <div class="card">
            <div class="card-header bg-primario py-2">
                <h5 class="m-0 text-center text-white">Catalogo de atuendos</h5>
            </div>
            <div class="card-body">
                <table class="table table-striped table-responsive-xl table-bordered " id="MyEvents">
                    <thead class="bg-primario text-white">
                        <tr>
                            <th>Diseñador</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Existencias</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.Modista.Name</td>
                            <td>@item.Descripcion</td>
                            <td>@item.Precio</td>
                            <td>@item.Existencias</td>
                            <td>
                                <a href="@Url.Action("Edit","Ropas",new { id=item.Id})" class="btn btn-sm btn-circle btn-warning">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a href="@Url.Action("Details","Ropas",new { id=item.Id})" class="btn btn-sm btn-circle btn-info">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a href="@Url.Action("Delete","Ropas",new { id=item.Id})" class="btn btn-sm btn-circle btn-danger">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
